
<p class="text-start mt-3  mb-3" style="font-weight: bold;">Productos disponibles para {{user.first_name}}</p>
<div class="container">
    <div class="row mb-3">
        <div class="col">
            <a type="button" class="btn btn-success btn-md" href="/products/create">Crear producto</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="text-center">
        <div class="card mb-3" >
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <input class="form-control mb-2" type="text" id="categoria" name="categoria" placeholder="Ingresar categoria">
                    </div>
                    <div class="col">
                        <select class="form-select" name="status" id="status">
                            <option value="on">Disponible</option>
                            <option value="off">No disponible</option>
                        </select>
                    </div>
                    <div  class="col">
                        <a type="button" class="btn btn-info btn-md" name="buscar" onclick="buscarProducto()">Buscar producto</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<table class="table table-primary table-striped table-hover">
    <tr>
        <td><strong>Producto</strong></td>
        <td><strong>Descripción</strong></td>
        <td><strong>Precio</strong></td>
        <td><strong>Código</strong></td>
        <td><strong>Stock</strong></td>
        <td><strong>Categoría</strong></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    {{#each products.docs}}
    <tr>
        <td>{{this.title}}</td>
        <td>{{this.description}}</td>
        <td>{{this.price}}</td>
        <td>{{this.code}}</td>
        <td>{{this.stock}}</td>
        <td>{{this.category}}</td>
        <td>
          <a class="btn"  href="/products/eliminar/{{this.code}}"><i class="fa fa-trash"></i></a>
        </td>
        <td>
            <a class="btn" href="/products/actualizar/{{this.code}}"><i class="fa fa-edit"></i></a>
        </td>
        <td>
            <a class="btn" href="/products/ver/{{this.code}}"><i class="fa fa-eye"></i></a>
        </td>
    </tr>
    {{/each}}
</table>

<div class="text-center mb-5">
    {{#if products.hasPrevPage}}
    <a class="btn btn-primary" href="{{products.prevLink}}">Anterior</a>
    {{/if}}
    {{#if products.hasNextPage}}
    <a class="btn btn-primary" href="{{products.nextLink}}">Siguiente</a>
    {{/if}}
</div>

<script src="/js/listproduct.js"></script>
